.text-error {
  color: red !important;
  font-style: italic;
  width: 100% !important;
  padding-left: 180px !important;
  padding-top: 10px;
  /* margin-bottom: 10px; */
  /* profile {
    padding-left: 160px !important;
  } */
  &.profile {
    padding-left: 160px !important;
  }
}

/* .form {
  flex-wrap: wrap;
  width: 100% !important;
} */
.nav ul li a.active {
  background: #00afab;
  color: white;
}
.nav ul li a {
  height: auto !important;
}

.loading-page {
  position: fixed;
  width: 200px;
  height: 200px;
  background: #00afab;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition-duration: 0.9s;
  border-radius: 100%;
  z-index: 200;
}

.customSection {
  position: absolute !important;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition-duration: 0.7s;
  &.active {
    transform: translateX(0%);
    transition-duration: 0.7s;
  }
}

.custom {
  position: absolute !important;
  top: 0;
  right: 0;
}
.btnCustom {
  width: 100%;
}
